@model IEnumerable<FitTracker.Models.MealsList>

<head>
    <link rel="stylesheet" href="~/css/mealsList.css" asp-append-version="true" />
</head>


<div class="meals-list-wrapper">
    <h1>Lista posiłków</h1>

    <div class="add-button-wrapper">
        <a asp-action="Create">Dodaj nowy</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Calories)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
